body {
    background-color: #386641;
}

p {
    color: white
}

h1 {
    color: white;  
    font-size: 80px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-img {
    background-color: transparent;
    width: 55%;
    margin-top: 100px;
}

.select-game-btn {
    width: 100%;
    box-shadow: 3px 3px black;
}

/* Navbar CSS */

nav {
    background-color: #2E2A2A;
}
  
.navbar-brand {
    padding-left: 20px;
    padding-right: 10px;
}
  
.navbar-nav {
    padding-right: 30px;
}