body {
    background-color: #386641;
}

p {
    color: white
}

h1 {
    color: white;  
    font-size: 80px;
    text-align: center;
}

h2 {
    color: white;
    margin-top: 75px;
    font-size: 60px;
    text-align: center;
}

h3 {
    color: white;
}

.back-btn {
    float: left;
}


/* Home page CSS */

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-img {
    background-color: transparent;
    width: 55%;
    margin-top: 100px;
}

.select-game-btn {
    width: 100%;
    box-shadow: 3px 3px black;
}


/* Settings page CSS */

.settings-container {
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;  
    align-items: center;
}

.volume-container {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 20px;
    width: 100%;
    padding: 0 12px;
}

#volume-slider {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 16px;
    background: #ddd;
    border-radius: 10px;
    outline: none;
    transition: background 0.2s;
}

#volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    background: #212529;
    border-radius: 50%;
    cursor: pointer;
}

.card-options {
    cursor: pointer;
}


/* Snap CSS */

.snap-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;  
    align-items: center;
}

.snap-header-container {
    width: 56%;
}

.snap-game {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: relative;
}

.snap-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 25%;
}

.snap-controls {
    width: 48%;
    margin-top: 70px;
    color: white;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    padding: 20px 0;
}

.bold-text {
    font-weight: bold;
}

#announce {
    font-size: 40px;
    font-weight: bold;
    width: 75%;
}


/* Navbar CSS */

nav {
    background-color: #2E2A2A;
}
  
.navbar-brand {
    padding-left: 20px;
    padding-right: 10px;
}
  
.navbar-nav {
    padding-right: 30px;
}

.navbar-logo {
    height: 40px;
    width: auto;
}



/* Select Game Page CSS */

.select-game-container {
    margin: 0 auto;
    width: 60%;
    display: flex;
    flex-direction: column;  
    align-items: center;
}

.game-card-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 14rem;
    border-radius: 16px;
    overflow: hidden;
}

.card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 16px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-btn {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-weight: bold;
    border: none;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s ease-in-out;
}

.game-btn:hover {
    background: rgba(255, 255, 255, 0.8);
    color: black;
}

.underline-text {
    text-decoration: underline;
}

.col-md-3 {
    text-align: center;
    margin-top: 88px;
}