body {
    background-color: #386641;
}

p {
    color: white
}

h1 {
    color: white;  
    font-size: 80px;
}

h2 {
    color: white;
    margin-top: 75px;
    font-size: 60px;
}

/* Home page CSS */

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-img {
    background-color: transparent;
    width: 55%;
    margin-top: 100px;
}

.select-game-btn {
    width: 100%;
    box-shadow: 3px 3px black;
}

/* Settings page CSS */

.settings-container {
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;  
    align-items: center;
}

/* Snap CSS */

.snap-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;  
    align-items: center;
}

.snap-game {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: relative;
}

.snap-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 25%;
}

.snap-controls {
    width: 48%;
    margin-top: 70px;
    color: white;
    text-align: center;
    border: 5px solid #2E2A2A;
    font-size: 20px;
    padding: 20px 0;
}

.reset-btn {
    background-color: #2E2A2A;
}

.bold-text {
    font-weight: bold;
}

#announce {
    font-size: 40px;
    font-weight: bold;
    width: 75%;
}

/* Navbar CSS */

nav {
    background-color: #2E2A2A;
}
  
.navbar-brand {
    padding-left: 20px;
    padding-right: 10px;
}
  
.navbar-nav {
    padding-right: 30px;
}