<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <title>CardsWebApp Admin</title>
</head>
<body>

    <div class="admin-container">
        <h2>Table of Played Games</h2>
        <table>
            <thead class="table-header">
                        <tr>
                            <th>ID</th>
                            <th>Mode</th>
                        </tr>
                    </thead>
            </thead>
            <tbody class="table-content">
                {% for row in table_data %}
                <tr>
                    <td>{{ row.id }}</td>
                    <td>{{ row.mode }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</body>
</html>