{% extends 'base.html' %}

{% block title %}Select Game{% endblock %}

{% block content %}

<div class="select-game-container">

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-3">
            <button type="button" class="btn btn-dark btn-lg" onclick="window.location.href='/'">
                <img src="../static/backspace-btn-img.png" alt="Back" width="50" height="30"/>
            </button>
        </div>

        <div class="col-md-6">
            <h2>Select Game</h2>
        </div>
    </div>
</div>

<div class="game-card-container mt-5">
    <div class="card border-0 bg-dark text-white">
        <img src="../static/snap-img.png" class="card-img-top" alt="Snap">
        <div class="overlay">
            <button type="button" class="game-btn btn btn-dark btn-lg rounded-pill" onclick="window.location.href='/snap'">Snap</button>
        </div>
    </div>
</div>

{% endblock %}