{% extends 'base.html' %}

{% block title %}Settings{% endblock %}

{% block content %}

<div class="settings-container">

    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-md-3">
                <button type="button" class="back-btn btn btn-dark btn-lg" onclick="window.history.back()">
                    <img src="../static/backspace-btn-img.png" alt="Back" width="50" height="30" />
                </button>
            </div>
    
            <div class="col-md-6">
                <h2>Settings</h2>
            </div>
    
        </div>
    </div>

    <div class="volume-container mt-5">
        <label for="volume-slider">Volume:</label>
        <input type="range" id="volume-slider" min="0" max="100" value="50">
        <span id="volume-value">50%</span>
    </div>

    <h3 class="mt-5">Card Options</h3>
    
</div>

{% endblock %}