{% extends 'base.html' %}

{% block title %}Snap{% endblock %}

{% block content %}

<div class="snap-container">
    <h2>Snap!</h2>

    <div class="snap-game mt-5">
      <img id="player0img" src="https://deckofcardsapi.com/static/img/back.png">

      <div class="snap-result mx-5">
        <p id="announce"></p>
        <button type="button" class="btn btn-dark btn-lg reset-btn" id="reset">Reset</button>
      </div>
      
      <img id="player1img" src="https://deckofcardsapi.com/static/img/back.png">
    </div>
    
    <div class="snap-controls">
      <h3>Controls</h3>
      <p class="bold-text">Player 1: Press 'a' to draw a card. Press 'z' to snap.</p>
      <p class="bold-text">Player 2: Press 'k' to draw a card. Press 'm' to snap.</p>
    </div>
</div>

<script type="text/javascript" src="/static/snap.js"></script>

{% endblock %}