{% extends 'base.html' %}

{% block title %}Snap{% endblock %}

{% block content %}

<div class="snap-container">
    <h2>Snap!</h2>

    <div class="snap-game mt-5">
      <img id="player0img" src="https://deckofcardsapi.com/static/img/back.png">

      <div class="snap-result mx-5">
        <p id="announce"></p>
        <button type="button" class="btn btn-dark btn-lg" id="reset">Reset</button>
      </div>
      
      <img id="player1img" src="https://deckofcardsapi.com/static/img/back.png">
    </div>
    
    <p>Controls:</p>
    <p>'a' and 'k' to draw, player 1 and 2 respectively</p>
    <p>'z' and 'm' to snap, player 1 and 2 respectively</p>
</div>

<script type="text/javascript" src="/static/snap.js"></script>

{% endblock %}